{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('message') }}
    {{ encore_entry_link_tags('messageOptions') }}
    {{ encore_entry_link_tags('profile') }}
    {{ encore_entry_link_tags('contact') }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    {{ encore_entry_script_tags('message') }}
    {{ encore_entry_script_tags('messageOptions') }}
    {{ encore_entry_script_tags('groupes') }}
    {{ encore_entry_script_tags('profile') }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column h-100 ">
        <audio id='notif-sound' style='display:none;' controls src='https://cdn.discordapp.com/attachments/458358268692004870/777589617671012362/swiftly-610.mp3'></audio>
        <nav class="row navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-brand btn" id="btn-theme" href="#">
                        <img src="{{ asset('build/images/slackair_logo.png')}}" alt="Logo" width="150px">
                </button>
            </div>
            <div class="navbar-elements nav navbar-nav flex-row justify-content-between ml-auto">
                <div class="dropdown dropleft">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <sup><span class="badge badge-pill badge-danger notification" id="notif-count">{{notifications.nbgroupes < 9 ? notifications.nbgroupes  : "9+"}}</span></sup>
                    </a>
                    <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage" >
                        <div class="notifications-header">
                            <i class="fa fa-bell"></i>
                            Notifications
                        </div>
                        <div class="dropdown-divider"  id="notif-ddlist" ></div>
                        {% for notif in notifications.groupes %}
                            <div class="dropdown-item btn notification" data-idchannel="{{notif.groupe.id}}" id="notif{{notif.groupe.id}}">
                                <div class="message-content">
                                    <div class="message-title">
                                        <strong>{{notif.groupe.nom}}</strong>
                                    </div>
                                    <div class="message-detail">
                                        Vous avez été invité à {{notif.groupe.TypeGroupeId.id == "3" ? "discuter avec #{notif.groupe.IdProprietaire.pseudo}"  : "rejoindre le groupe #{notif.groupe.nom}"}}
                                    </div>
                                    <a class="channel" data-idchannel="channelId">Consulter la discussion</a>
                                </div>
                                <span class="time text-muted small">
                                    {{notif.DateNotification|date("d-M-20y h:m")}}
                                </span>
                            </div>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">Voir toutes les notifications</a>
                    </div>
                </div>
                <div class="dropdown dropleft">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <sup><span class="badge badge-pill badge-success notification" id="notif-msg-count">{{notifications.nbmessages < 9 ? notifications.nbmessages  : "9+"}}</span></sup>
                    </a>
                    <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                        <div class="messages-header">
                            <i class="fa fa-envelope"></i>
                            Messages
                        </div>
                        <div class="dropdown-divider" id="notif-msg-ddlist">
                        </div>
                        {% for notif in notifications.messages %}
                            <div class="dropdown-item btn notification" data-idchannel="{{notif.groupe.id}}" id="notif{{notif.groupe.id}}">
                                <div class="message-content">
                                    <div class="message-title">
                                        <strong>{{notif.groupe.TypeGroupeId.id == "3" ? "#{notif.groupe.IdProprietaire.pseudo}"  : "#{notif.groupe.nom}"}}</strong>
                                    </div>
                                    <div class="message-detail">
                                        Nouveau(x) message(x) 
                                    </div>
                                    <a class="channel" data-idchannel="channelId">Consulter la discussion</a>
                                </div>
                                <span class="time text-muted small">
                                    {{notif.DateNotification|date("d-M-20y h:m")}}
                                </span>
                            </div>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">Voir tous les messages</a>
                    </div>
                </div>
                {{ render(controller(
                    'App\\Controller\\UserProfileController::getUserInfos'
                )) }}
            </div>
        </div>
    </nav>

      <div class="row flex-grow-1 h-80">
        <aside id="sidebar" class="col-md-auto h-100 position-sticky">
            <header>
                <div class="sidebar-item sidebar-brand">
                    <a href="#"><br>SlackAIR</a>
                </div>
                
                <!-- sidebar-header  -->
                <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" id="mainPdp" src='{{ asset(user.photo_de_profile) }}' alt="Photo de profile">
                    </div>
                    <div class="user-info">
                        <span id="sidebar-user-pseudo" class="user-name">
                            <a href="{{ logout_path() }}">
                                <i class="fa fa-power-off"></i>
                            </a>
                            {{user.pseudo}}
                        </span>
                        <span id="user-status" class="user-status">
                            <i class="fa fa-circle {{user.statut_color}}"></i>
                            <span>{{user.statut}}</span>
                        </span>
                    </div>
                </div>
            </header>
            <div class=" sidebar-item sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Extra</span>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button">
                                <span class="menu-text"><i class="far fa-bookmark"></i>    Discussions favorites</span>
                                <i class="fas fa-caret-down icon-caret"></i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-favoris">
                                {% for groupePublic in channels.publiques %}
                                    {% if groupePublic.isFavorite and not groupePublic.GroupeId.isDeleted %}
                                        <a href="" data-idChannel={{groupePublic.GroupeId.id}} class="channel"><i class="fas fa-hashtag"></i>{{groupePublic.GroupeId.nom}}</a>
                                    {% endif %}
                                {% endfor %}
                                {% for groupePrive in channels.prives %}
                                    {% if groupePrive.isFavorite and not groupePrive.GroupeId.isDeleted %}
                                       <a href="" data-idChannel={{groupePrive.GroupeId.id}} class="channel"><i class="fas fa-lock"></i>{{groupePrive.GroupeId.nom}}</a>
                                    {% endif %}
                                {% endfor %}
                                {% for groupeDM in channels.dm %}
                                    {% if groupeDM.channel.isFavorite and not groupeDM.channel.isDeleted %}
                                       <a href="" data-idChannel={{groupeDM.channel.id}} data-userIdDM={{groupeDM.user.id}} class="channel user_channel"><i class="fa fa-circle {{groupeDM.user.statut.status_color}}"></i>{{groupeDM.user.pseudo}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button" aria-expanded="false" data-target="#collapse-group-public" aria-controls="collapse-group-public">
                                <span class="menu-text"><i class="fas fa-users"></i>    Groupes Publics</span>
                                <i class="fas fa-caret-down icon-caret"></i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-group-public">
                                {% for groupePublic in channels.publiques %}
                                    {% if not groupePublic.GroupeId.isDeleted %}
                                        <a href="" data-idChannel={{groupePublic.GroupeId.id}} class="channel"><i class="fas fa-hashtag"></i>{{groupePublic.GroupeId.nom}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-1 pl-0 pr-0">
                            <a href="#" class="right-align" data-toggle="modal" data-target="#create-grp-modale2"><button type="button" class="btn"><i class="fas fa-plus-circle"></i></button></a> 
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button" aria-expanded="false" data-target="#collapse-group-private" aria-controls="collapse-group-private">
                               <span class="menu-text"><i class="fas fa-comments"></i> Groupes Privés</span>
                                <i class="fas fa-caret-down">
                                </i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-group-private">
                                {% for groupePrive in channels.prives %}
                                    {% if not groupePrive.GroupeId.isDeleted %}
                                        <a href="" data-idChannel={{groupePrive.GroupeId.id}} class="channel"><i class="fas fa-lock"></i>{{groupePrive.GroupeId.nom}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-1 pl-0 pr-0">
                            <a href="#" data-toggle="modal" data-target="#create-grp-modale1" class="right-align"><button type="button" class="btn"><i class="fas fa-plus-circle"></i></button></a> 
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button" aria-expanded="false" data-target="#collapse-message-private" aria-controls="collapse-message-private">
                               <span class="menu-text"><i class="fas fa-inbox"></i> Messages Privés</span>
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-message-private">
                                {% for groupeDM in channels.dm %}
                                    {% if not groupeDM.channel.isDeleted %}
                                        <a href="" data-idChannel={{groupeDM.channel.id}} data-userIdDM={{groupeDM.user.id}} class="channel user_channel"><i class="fa fa-circle {{groupeDM.user.statut.status_color}}"></i>{{groupeDM.user.pseudo}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-1 pl-0 pr-0">
                            <a href="#" data-toggle="modal" data-target="#annuaire-modal" class="right-align"><button type="button" class="btn"><i class="fas fa-plus-circle"></i></button></a> 
                        </div>
                    </li>
                </ul>
                
            </div>
        </aside>
        <main class="col pr-0 pl-0 h-100 position-sticky">
          <div id="content" class="container-fluid pr-0 pl-0 h-100">
                    <div class="row no-gutters w-100 h-100">
                        <div class="col-9 chat-container h-100">
                            <div id="chat" class="chat container-fluid h-100 w-100 pr-0 pl-0">
                                <div class="row mr-0 ml-0">
                                    <div class="chat-title w-100 border-bottom">
                                        <div class="friend-drawer no-gutters friend-drawer--grey">
                                            <div class="text">
                                                <h6 id="titre_channel">Titre</h6>
                                                <p id="description_channel" class="text-muted">Description</p>
                                            </div>
                                            <div class="search-box">
                                                <div class="input-wrapper border">
                                                    <i class="fas fa-search"></i>
                                                    <input placeholder="Rechercher" type="text">
                                                </div>
                                            </div>
                                            <span class="chat-title--right">
                                                <i id="set-favorite" class="fas fa-star"></i>
                                                <div class="dropdown" id="pinnedMessagesDropdown">
                                                    <i class="fas fa-thumbtack" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                    <div class="dropdown-menu pinned-messages-dropdown-menu">
                                                        <h6 class="dropdown-header">Messages épinglés</h6>
                                                        <li id="pinnedMessagesLoader" class="dropdown-item dropdown-pinned-messages">
                                                            <p class="pinned-message-solo text-center"><i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i> Chargement des messages épinglés...</p>
                                                        </li>
                                                        <div id="pinnedMessagesContainer" class="pinned-messages-container">
                                                        </div>
                                                        <li id="noPinnedMessages" class="dropdown-item dropdown-pinned-messages">
                                                            <p class="pinned-message-solo text-center">Aucune message épinglé !</p>
                                                        </li>
                                                    </div>
                                                </div>
                                                <i id="leave-channel-icon" class="fas fa-sign-out-alt" data-toggle="modal" href="#leaveChannelModal"></i>
                                                <i id="channel-infos-icon" class="channel-infos-icon fas fa-info-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="chat-messages" class="row p-t-2"></div>
                                <div class="container-fluid sticky-footer pr-0 pl-0">
                                    <div class="row w-100 mr-0 ml-0">
                                        <div id="emojis" style="display: none"></div>
                                        <div class="col-12 w-100 chat-box-col">
                                            <div class="is-typing-wrapper" style="display: none">
                                                <p>
                                                    <em id="isTypingText"></em>
                                                    <span class="dot writting-background"></span>
                                                    <span class="dot writting-background"></span>
                                                    <span class="dot writting-background"></span>
                                                </p>
                                            </div>
                                            <div class="chat-box-tray form-group w-100 message_is_writing_selector">
                                                <div class="d-flex flex-grow-1 justify-content-around">
                                                    <button type="button" class="btn" id="btnEmojis"><i class="fas fa-smile-beam"></i></button>
                                                    <button type="button" class="btn btn-file">
                                                        <span><i class="fas fa-paperclip" id="btn_upload"></i></span>
                                                        {{ form_start(fileForm, {'attr': {'id': 'media-fileUpload-form'}}) }}
                                                        {{ form_widget(fileForm.file, {'attr': {'id': "mediaFileUpload",'class':''}}) }}
                                                        {{ form_widget(fileForm.confirmer, {'label_attr ':{'class':'hidden'}}) }}
                                                        {{form_end(fileForm)}}
                                                    </button>
                                                </div>
                                                <input type="text" id="message" placeholder="Envoyer un message à nom_user_channel" disabled>
                                                <div class="d-flex flex-grow-1 justify-content-around">
                                                    <button type="button" class="btn" id="sendBtn"><i class="fas fa-paper-plane"></i></button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-3 h-100">
                            <div class="card h-100 rounded-bottom">
                                <div class="card-body ">
                                    <h5 class="card-title" id="titre_channel_right" style="display: none">Titre</h5>
                                    <h6 class="card-subtitle mb-2 text-muted" id="label_membres_du_groupe" style="display: none">Membres du groupe</h6>
                                    <hr>
                                    <div id="listeMembres"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript">

        let server_host = "{{ gos_web_socket_server_host }}";

        if (server_host == "127.0.0.1" && window.location.hostname.includes("localhost")) {
            server_host = "localhost";
        } else {
            server_host = window.location.hostname;
        }

        var _WS_URI = "ws://" + server_host + ":{{ gos_web_socket_server_port }}";
        
    </script>

    {{ render(controller(
        'App\\Controller\\API\\GroupeController::create',{'typeGroupeId':1}
    )) }}

    {{ render(controller(
        'App\\Controller\\API\\GroupeController::create',{'typeGroupeId':2}
    )) }}

    {{ render(controller(
        'App\\Controller\\ContactController::getContact'
    )) }}

    {{ render(controller(
        'App\\Controller\\API\\MessageController::getMessageOptions'
    )) }}

    {{ render(controller(
        'App\\Controller\\API\\ChannelController::getChannelInfos'
    )) }}

    {% include 'modals/index.html.twig' %}

    <span id="id_current_user" data-id-current-user={{user.id}} style="display: none"></span>

{% endblock %}