{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('message') }}
    {{ encore_entry_link_tags('profile') }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    {{ encore_entry_script_tags('message') }}
    {{ encore_entry_script_tags('groupes') }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column h-100">
      <nav class="row navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-brand btn" id="btn-theme" href="#">
                        <img src="{{ asset('build/images/slackair_logo.png')}}" alt="Logo" width="150px">
                </button>
            </div>
            <div class="navbar-elements nav navbar-nav flex-row justify-content-between ml-auto">
                <div class="dropdown dropleft">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <sup><span class="badge badge-pill badge-danger notification">3</span></sup>
                    </a>
                    <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                        <div class="notifications-header">
                            <i class="fa fa-bell"></i>
                            Notifications
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-check text-success border border-success"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Vous avez reçu un message de Thomas</div>
                                    <div class="notification-time">
                                        Il y'a 6 minutes
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-exclamation text-info"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Vous avez été ajouté au channel PHP Project</div>
                                    <div class="notification-time">
                                        Aujourd'hui
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">Voir toutes les notifications</a>
                    </div>
                </div>
                <div class="dropdown dropleft">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <sup><span class="badge badge-pill badge-success notification">7</span></sup>
                    </a>
                    <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                        <div class="messages-header">
                            <i class="fa fa-envelope"></i>
                            Messages
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="https://www.icone-png.com/png/28/28140.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Joris</strong>
                                    </div>
                                    <div class="message-detail">Faudrait dormir Monsieur</div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Crystal_Clear_kdm_user_female.svg/1200px-Crystal_Clear_kdm_user_female.svg.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Maurane</strong>
                                    </div>
                                    <div class="message-detail">La philo, c'est trop dar</div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="https://www.icone-png.com/png/28/28140.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Coco</strong>
                                    </div>
                                    <div class="message-detail">J'ai faim</div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">Voir tous les messages</a>
                    </div>
                </div>
                {{ render(controller(
                    'App\\Controller\\UserProfileController::getUserInfos'
                )) }}
            </div>
        </div>
    </nav>

      <div class="row flex-grow-1 h-80">
        <aside id="sidebar" class="col-md-auto h-100 position-sticky">
            <header>
                <!-- sidebar-header  -->
                <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://i.etsystatic.com/14629925/r/il/bf50b4/1921160378/il_570xN.1921160378_lw7l.jpg" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span id="sidebar-user-pseudo" class="user-name">{{user.pseudo}}
                            <a href="{{ logout_path() }}">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </span>
                        <span id="user-status" class="user-status">
                            <i class="fa fa-circle {{user.statut_color}}"></i>
                            <span>{{user.statut}}</span>
                        </span>
                    </div>
                </div>
            </header>
            <div class=" sidebar-item sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Extra</span>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button">
                                <span class="menu-text"><i class="fas fa-address-book"></i>    Contacts favoris</span>
                                <i class="fas fa-caret-down icon-caret"></i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-favoris">
                                <a href="#"><i class="fa fa-circle online"></i>Beyoncé</a>
                                <a href="#"><i class="fa fa-circle busy"></i>Emmanuel Macron</a>
                            </div>      
                        </div>
                        <div class="col-1 pl-0 pr-0">
                            <!--
                            TODO : add-favoris
                            -->
                            <a data-tooltip="Ajouter un groupe" type="button" class="tooltipped modal-trigger btn right-align" >
                                <button type="button" class="btn">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </a>
                        </div>
                    </li>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button">
                                <span class="menu-text"><i class="fas fa-users"></i>    Groupes Publics</span>
                                <i class="fas fa-caret-down icon-caret"></i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-group-public">
                                {% for grp in grpsPb %}
                                    <a href="#"><i class="fas fa-hashtag"></i>{{grp.Nom}}</a>
                                {% endfor %}
                                <a href="#"><i class="fas fa-hashtag"></i>Channel 2</a>
                                <a href="#"><i class="fas fa-hashtag"></i>Channel 3</a>
                            </div>      
                        </div>
                        <div class="col-1 pl-0 pr-0">
                            <a data-tooltip="Ajouter un groupe" type="button" class="tooltipped modal-trigger btn right-align" data-toggle="modal" data-typeid="2" data-target="{{path('create-groupe', {'typeGroupeId':2})}}">
                                <button type="button" class="btn">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </a>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button" >
                                <span class="menu-text"><i class="fas fa-comments"></i> Groupes Privés</span>
                                <i class="fas fa-caret-down icon-caret"></i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-group-private">
                                {% for grp in grpsPv %}
                                    <a href="#"><i class="fas fa-lock"></i>{{grp.Nom}}</a>
                                {% endfor %}
                            </div>      
                        </div>
                        <div class="col-1 pl-0 pr-0">
                            <a data-tooltip="voir"
                            class="tooltipped modal-trigger btn right-align"
                            data-target="{{path('create-groupe',{'typeGroupeId':1})}}"
                            href="#modal1">
                                <button type="button" class="btn">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </a>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="pl-0 pr-0 grpList">
                            <button class="btn dropdown-btn" type="button" aria-expanded="false" >
                                <span class="menu-text"><i class="fas fa-inbox"></i> Messages Privés</span>
                                <i class="fas fa-caret-down icon-caret"></i>
                            </button>
                            <div class="collapse show hide collapse-container" id="collapse-message-private">
                                <a href="#"><i class="fa fa-circle online"></i>Beyoncé</a>
                                <a href="#"><i class="fa fa-circle busy"></i>Emmanuel Macron</a>
                                <a href="#"><i class="fa fa-circle offline"></i>Youssou Ndour</a>
                            </div>      
                        </div>
                        <div class="col-1 pl-0 pr-0">
                            <a data-tooltip="voir"
                            class="tooltipped modal-trigger btn right-align"
                            data-target="{{path('create-groupe',{'typeGroupeId':3})}}"
                            href="#modal1">
                                <button type="button" class="btn">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </a>
                        </div>
                    </li>
                </ul>
                
            </div>
        </aside>
        <main class="col pr-0 pl-0 h-100 position-sticky">
          <div id="content" class="container-fluid pr-0 pl-0 h-100">
                    <div class="row no-gutters w-100 h-100">
                        <div class="col-9 chat-container h-100">
                            <div id="chat" class="chat container-fluid h-100 w-100 pr-0 pl-0">
                                <div class="row mr-0 ml-0">
                                    <div class="chat-title w-100 border-bottom">
                                        <div class="friend-drawer no-gutters friend-drawer--grey">
                                            <div class="text">
                                                <h6>Titre</h6>
                                                <p class="text-muted">Description</p>
                                            </div>
                                            <div class="search-box">
                                                <div class="input-wrapper border">
                                                    <i class="fas fa-search"></i>
                                                    <input placeholder="Rechercher" type="text">
                                                </div>
                                            </div>
                                            <span class="chat-title--right">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-thumbtack"></i>
                                                <i class="fas fa-sign-out-alt"></i>
                                                <i class="fas fa-info-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="chat-messages" class="row">
                                    <div class="col-12">
                                        <div class="chat-bubble">    
                                            <img class="profile-image" src="https://www.decoparty.fr/wp-content/uploads/2020/09/disney-the-princess-and-the-frog-tiana-cardboard-face-mask-for-children-product-image.jpg" alt="">
                                            <div class="text">
                                                <h6>Tiana</h6>
                                                <p class="text-muted">Hi Girls</p>
                                            </div>
                                            <span class="time text-muted small">Aujourd'hui à 13:21</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="chat-bubble">
                                            <img class="profile-image" src="https://www.decoparty.fr/wp-content/uploads/2020/09/disney-beauty-and-the-beast-belle-cardboard-face-mask-for-children-product-image.jpg" alt="">
                                            <div class="text">
                                                <h6>Belle</h6>
                                                <p class="text-muted">Wanna go out?</p>
                                            </div>
                                            <span class="time text-muted small">Aujourd'hui à 13:29</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="chat-bubble">
                                            <img class="profile-image" src="https://www.bebegavroche.com/media/catalog/product/cache/1/image/265x/9df78eab33525d08d6e5fb8d27136e95/S/M/SM336-Masque-en-carton-Cendrillon---Disney-Cendrillon---27--cm-1.jpg" alt="">
                                            <div class="text">
                                                <h6>Cendrillon</h6>
                                                <p class="text-muted">Why not !</p>
                                            </div>
                                            <span class="time text-muted small">Aujourd'hui à 13:30</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="chat-bubble">
                                            <img class="profile-image" src="https://www.bebegavroche.com/media/catalog/product/cache/1/thumbnail/1200x/040ec09b1e35df139433887a97daa66f/S/M/SM327-Masque-en-carton-Jasmine---Disney-Aladdin---27--cm-1.jpg" alt="">
                                            <div class="text">
                                                <h6>Jasmine</h6>
                                                <p class="text-muted">Yes, I'm so hungry right now.</p>
                                            </div>
                                            <span class="time text-muted small">Aujourd'hui à 13:32</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid sticky-footer pr-0 pl-0">
                                    <div class="row w-100 mr-0 ml-0">
                                        <div id="emojis" style="display: none"></div>
                                        <div class="col-12 w-100 chat-box-col">
                                            <div class="chat-box-tray form-group w-100">
                                                <div class="d-flex flex-grow-1 justify-content-around">
                                                    <button type="button" class="btn" id="btnEmojis"><i class="fas fa-smile-beam"></i></button>
                                                    <button type="button" class="btn btn-file"><i class="fas fa-paperclip"></i> <input type="file"></button>
                                                </div>
                                                <input type="text" id="message" placeholder="Envoyer un message à nom_user_channel">
                                                <div class="d-flex flex-grow-1 justify-content-around">
                                                    <button type="button" class="btn" id="sendBtn"><i class="fas fa-paper-plane"></i></button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-3 h-100">
                            <div class="card h-100 rounded-bottom">
                                <div class="card-body ">
                                    <h5 class="card-title">Pouet Pouet Channel</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Membres du groupe</h6>
                                    <hr>
                                    <p class="card-text"><i class="fa fa-circle online"></i> Coco </p>
                                    <p class="card-text"><i class="fa fa-circle online"></i> Zero</p>
                                    <p class="card-text"><i class="fa fa-circle offline"></i> SeZonch</p>
                                    <p class="card-text"><i class="fa fa-circle busy"></i> Soliman 1er</p>
                                    <p class="card-text"><i class="fa fa-circle offline"></i> Vanelle</p>
                                    <p class="card-text"><i class="fa fa-circle busy"></i> Le J</p>
                                    <p class="card-text"><i class="fa fa-circle absent"></i> Armanitore</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>      
    </div>
    <!-- A supprimer -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h1>coucou</h1>
            <button type="submit">fin</button>
        </div>
        <div class="modal-footer"></div>
    </div>
    {% include 'modals/index.html.twig' %}
{% endblock %}