{# templates/login.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {{ form(form) }}
    
{% endblock %}